

.header, .footer {
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: 1.5rem;
    padding-bottom: 2.9rem;
}

.header {
  margin-bottom: 20px;
  text-align: center;
  padding-top: 2.0rem;
  padding-bottom: 4.4rem;
}

.thumbnail {
  box-shadow: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.stats {
  margin-top: 100px;
}

.teams {
  margin-bottom: 100px;
}

.passerRating {
  text-align: center;
}
