@import url('https://fonts.googleapis.com/css?family=Ranchers');

$ranchers: 'Ranchers', cursive;
.header, .footer {
    background-size: cover;
    position: relative;
    overflow: visible;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3), 0 8px 24px 0 rgba(0, 0, 0, 0.25);
}

.header {
  text-align: center;

  h1 {
    font-weight: bold;
    font-family: $ranchers;
    letter-spacing: 3px;
    padding: 20px;
  }
}

.footer {
  padding: 5px;
  h3 {
    font-family: $ranchers;
    margin-left: 50px;
  }
}
.thumbnail {
  box-shadow: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 50%;
}

.stats {
  margin-top: 30px;
}

.passerRating {
    text-align: center;
    font-family: $ranchers;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 3px 3px 6px #000000;
}


.button {
  display: inline-block;
  border-radius: 6px;
  font-weight: bold;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3), 0 8px 24px 0 rgba(0, 0, 0, 0.25);
  &:hover span {
    padding-right: 25px;
    &:after {
      opacity: 1;
      right: 0;
    }
  }
  span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    &:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }
}

[type=text], .Select-placeholder {
    height: 4rem;
    font-size: 1.5rem;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3), 0 8px 24px 0 rgba(0, 0, 0, 0.25);

}

@media (min-width: 769px) {
  .stats {
    margin-top: 150px;
  }  
  .teams {
    margin-bottom: 100px;
  }    
  .header {  
    h1 {
      font-size: 10vh;
    }
  }
  .thumbnail {
    max-width: 80%;
  }  
}